# Docker Compose For HA Config Server and Eureka Server of Maoerd 
# Author: Wenbo Wang <jackie-1685@163.com>
# Version: 1.0

version: "3"
services:
  visualizer:
    image: dockersamples/visualizer:stable
    restart: always
    ports:
      - 80:80
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]
  config-server-primary:
    image: mengluo668/config-server:0.0.1-SNAPSHOT
    restart: always
    ports:
      - 80:80
    volumes:
      - "/tmp/config-server-primary:/tmp"
      - "./config-server/primary:/config-server/config"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == maoerd-docker-config-server-primary
      restart_policy:
        condition: on-failure
  config-server-backup:
    image: mengluo668/config-server:0.0.1-SNAPSHOT
    restart: always
    ports:
      - 80:80
    volumes:
      - "/tmp/config-server-backup:/tmp"
      - "./config-server/backup:/config-server/config"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == maoerd-docker-config-server-backup
      restart_policy:
        condition: on-failure
  eureka-server-primary:
    image: mengluo668/eureka-server:0.0.1-SNAPSHOT
    restart: always
    ports:
      - 80:80
    volumes:
      - "/tmp/eureka-server-primary:/tmp"
    environment:
      - DEFAULT_EUREKA_SERVER_SPRING_PROFILES_ACTIVE=primary
      - DEFAULT_EUREKA_SERVER_SPRING_CLOUD_CONFIG_ENABLED=true
      - DEFAULT_EUREKA_SERVER_SPRING_CLOUD_CONFIG_URI=http://maoerd-docker-config-server-primary.c.sunlit-utility-190612.internal
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == maoerd-docker-eureka-server-primary
      restart_policy:
        condition: on-failure
  eureka-server-backup:
    image: mengluo668/eureka-server:0.0.1-SNAPSHOT
    restart: always
    ports:
      - 80:80
    volumes:
      - "/tmp/eureka-server-backup:/tmp"
    environment:
      - DEFAULT_EUREKA_SERVER_SPRING_PROFILES_ACTIVE=backup
      - DEFAULT_EUREKA_SERVER_SPRING_CLOUD_CONFIG_ENABLED=true
      - DEFAULT_EUREKA_SERVER_SPRING_CLOUD_CONFIG_URI=http://maoerd-docker-config-server-backup.c.sunlit-utility-190612.internal
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == maoerd-docker-eureka-server-backup
      restart_policy:
        condition: on-failure
