# Docker Compose For HA Config Server and Eureka Server of Maoerd 
# Author: Wenbo Wang <jackie-1685@163.com>
# Version: 1.0

version: "3"
services:
  visualizer:
    image: dockersamples/visualizer:stable
    restart: always
    ports:
      - 80:80
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]
  